/** This is a red button with gradient
.button-example{
    border:1px solid #ff6262;
    border-radius: 3px;
    font-size:12px;
    font-family: "quattrocento sans", sans-serif;
    font-size: 24px;
    text-transform: capitalize;
    padding: 14px 48px 14px 48px;
    text-decoration: none; 
    display:inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight:bold; color: #FFFFFF;
    background-color: #ff9a9a; 
    background-image: linear-gradient(to bottom, #ff9a9a, #ff4040);
}

.button-example:hover{
    cursor: pointer;
    border:1px solid #ff3434;
    background-color: #ff6767;
    background-image: linear-gradient(to bottom, #ff6767, #ff0d0d);
}
**/

.button-red{
    border:0;
    border-radius: 5px 15px 5px 15px;
    font-size:12px;
    font-family: "quattrocento sans", sans-serif;
    font-size: 24px;
    text-transform: capitalize;
    padding: 8px 14px 8px 14px;
    text-decoration: none; 
    display:inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight:bold; color: #FFFFFF;
    background-color: #ff3434; 
}

.button-red:hover{
    cursor: pointer;
    border:0; 
    background-color: #ff9a9a;
}

.button-light-coral{
    border:0;
    border-radius: 3px 10px 3px 10px;
    font-size: 16px;
    font-family: "quattrocento sans", sans-serif;
    text-transform: capitalize;
    padding: 6px 36px 6px 36px;
    text-decoration: none; 
    display:inline-block;
    font-weight:bold; color: #FF6262;
    background-color: #ff9a9a; 
}

.button-light-coral:hover{
    cursor: pointer;
    border:0; 
    background-color: #FFC2C2;
}

.button-outline{
    border:3px solid currentColor;
    border-radius: 5px 15px 5px 15px;
    font-size:12px;
    font-family: "quattrocento sans", sans-serif;
    font-size: 24px;
    text-transform: capitalize;
    padding: 8px 14px 8px 14px;
    text-decoration: none; 
    display:inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight:bold; 
    color: #FFFFFF;
    background-color: none; 
}

.button-outline:hover{
    cursor: pointer;
    border:3px solid #FF6262; 
    background-color: none;
    color: #FF6262;
}

.button-dark-outline{
    border:3px solid currentColor;
    border-radius: 5px 15px 5px 15px;
    font-size:12px;
    font-family: "quattrocento sans", sans-serif;
    font-size: 24px;
    text-transform: capitalize;
    padding: 8px 14px 8px 14px;
    text-decoration: none; 
    display:inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight:bold; 
    color: #4C4C46;
    background-color: none; 
}

.button-dark-outline:hover{
    cursor: pointer;
    border:3px solid #FF6262; 
    background-color: none;
}

.button-signup{
    border:3px solid currentColor;
    border-radius: 5px 15px 5px 15px;
    font-size:12px;
    font-family: "quattrocento sans", sans-serif;
    font-size: 24px;
    text-transform: capitalize;
    padding: 8px 14px 8px 14px;
    text-decoration: none; 
    display:inline-block;
    font-weight:bold; color: #4C4C46;
    background-color: transparent; 
    width: 100%;
}

.button-signup:hover{
    cursor: pointer;
    border:3px solid currentColor; 
    background-color: none;
    color: #FF6262;
}

.button-pricing-trial{
    border:3px solid currentColor;
    color: white;
    border-radius: 5px 15px 5px 15px;
    font-size:12px;
    font-family: "quattrocento sans", sans-serif;
    font-size: 24px;
    text-transform: capitalize;
    padding: 10px 22px 10px 22px;
    text-decoration: none; 
    display:inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight:bold; color: white;
    background-color: none; 
}

.button-pricing-trial:hover{
    cursor: pointer;
    border:3px solid #B4B4B2; 
    background-color: none;
    color: #B4B4B2;
}

@media only screen and (min-width: 38em) {
.button-light-coral{
    border:0;
    border-radius: 5px 15px 5px 15px;
    font-size:12px;
    font-family: "quattrocento sans", sans-serif;
    font-size: 24px;
    text-transform: capitalize;
    padding: 8px 46px 8px 46px;
    text-decoration: none; 
    display:inline-block;
    font-weight:bold; color: #FF6262;
    background-color: #ff9a9a; 
}

.button-light-coral:hover{
    cursor: pointer;
    border:0; 
    background-color: #FFC2C2;
}

}
