.accent-red {
    color: #FF3300;
}

.accent-orange {
    color: #FF6600;
}

.accent-white {
    color: white;
}

.accent-coral {
    color: #FF6262;
}

.accent-light-coral {
    color: #FFC0C0;
}

.accent-grey,
.accent-grey:link,
.accent-grey:visited {
    color: #4C4C46;
}

.background-coral {
    background-color: #FF6262;
}

.background-light {
    background-color: #FAF8F2;
}

.background-charcoal {
    background-color:#4C4C46;
}

.footer-color {
    background-color: #D4D4CB;
}
