@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

@media only screen and (min-width: 60em) {
	 html {
		 
		 font-size: 110%;
	 }
}
	
@media only screen and (min-width: 90em) {
	 html {
		 
		 font-size: 120%;
	 }
}
	
@media only screen and (min-width: 120em) {
	 html {
		 
		 font-size: 130%;
	 }
}
		
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
}

.logo {
    width: 200px;
    padding: 0;
    display: none;
}

.icon {
    width: 100px;
    display: block; 
    margin: 0 auto;
}

.skip-links {
	margin: 0;
	padding: 0;
	list-style-type: none;
}	

.skip-links a {
	position: absolute;
	top: -3em;
	padding: 0.5em 0.75em;
	background-color: #000;
	color: #fff;
	font-weight: bold;
	font-size: 1.25em;
	text-decoration: none;
}

.skip-links a:focus {
	top: 0;
}

a:focus {
  outline: 2px solid red;
}

/** This affects hotlinks in text **/
a,
a:link,
a:visited {
  color: #5D5D6C;
}

a:hover,
a:active {
  outline: none;
}

/**this affects inactive buttons**/
.nav a,
.nav a:link,    
.nav a:visited {
  display: block;

  color: #5D5D6C;
  text-decoration: none;
}

/**this affects active buttons**/
.nav a:hover,
.nav a:focus,
.nav a:active,
.nav .nav-current,
.nav .nav-current:link,
.nav .nav-current:visited {
  background-color: white;

  color: black;
}

/** THOMAS: what do these .nav elements colour? when I change the colours I don't see a difference **/
.nav li {
	color: white;
	display: block;
}

.nav a {
	text-decoration: none;
	display: block;
	color: #e0ffff;
    padding-top: 2.5rem; 
}

.nav {	
	list-style-type: none;
	padding: 0;
    font-size: 1.7280rem;
}

.intro {
    display: block;
    align-content: center;
}

.caps {
    text-transform:capitalize;
}

.align-center {
    text-align: center;
}
    
.title {
    text-align: center;
}

.rounded {
	border-radius: 3px;
	background-color: white;
	border-color: red;
	cursor: pointer;
}

/** THOMAS: 
- is this code for the button with a gradient correct? Source from http://cssgradientbutton.com/#
- I tried to add text-transform: capitalize but it won't work
**/ 

.button-example{
    border:1px solid #ff6262;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;border-radius: 3px;font-size:12px;
    font-family: "quattrocento sans", sans-serif;
    font-size: 24px;
    text-transform: capitalize;
    padding: 14px 48px 14px 48px;
    text-decoration:none; 
    display:inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight:bold; color: #FFFFFF;
    background-color: #ff9a9a; 
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff9a9a), to(#ff4040));
    background-image: -webkit-linear-gradient(top, #ff9a9a, #ff4040);
    background-image: -moz-linear-gradient(top, #ff9a9a, #ff4040);
    background-image: -ms-linear-gradient(top, #ff9a9a, #ff4040);
    background-image: -o-linear-gradient(top, #ff9a9a, #ff4040);
    background-image: linear-gradient(to bottom, #ff9a9a, #ff4040);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ff9a9a, endColorstr=#ff4040);
}

.button-example:hover{
    cursor: pointer;
    border:1px solid #ff3434;
    background-color: #ff6767;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff6767), to(#ff0d0d));
    background-image: -webkit-linear-gradient(top, #ff6767, #ff0d0d);
    background-image: -moz-linear-gradient(top, #ff6767, #ff0d0d);
    background-image: -ms-linear-gradient(top, #ff6767, #ff0d0d);
    background-image: -o-linear-gradient(top, #ff6767, #ff0d0d);
    background-image: linear-gradient(to bottom, #ff6767, #ff0d0d);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ff6767, endColorstr=#ff0d0d);
}


	
.nav-footer {
	text-align: left;
}

.nav-footer a,
.nav-footer a:link,
.nav-footer a:visited {
	display: inline-block;
}

.nav-footer a:hover,
.nav-footer a:focus,
.nav-footer a:active,
.nav-footer .nav-current,
.nav-footer .nav-current:link,
.nav-footer .nav-current:visited {
    background-color: #D4D4CB;
}
	
.copyright-footer {
	text-align: left;
}

/** THOMAS: this image is not moving to the center? **/

.image-centered {
    width: 60%;
    text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
}

.foot-nav {
       display: none;
}

.right {
    float: right;
}

.clear-margins {
    margin: 0;
}

.vertical-align {
    vertical-align: text-top;
}

.vertical {
    margin-top: auto;
    margin-bottom: auto;
}
 
.hide-small {
    display:none;
}

@media only screen and (min-width: 25em) {
	
    .align-left {
        text-align: left;
    }
    
    .align-right {
        text-align: right;
    }
    
    .nav {
		text-align: right;
        font-size: 1.7280rem;
        line-height: 1.7361;
	}	
    
	.nav li {
		display: inline-block;
	}
	
	.nav {
		text-align: center;
	}
    
    .logo {
        display: none;
    }
    
    .icon {
        display: block;
    }
    
    .nav a:hover,
    .nav a:focus,
    .nav a:active,
    .nav .nav-current,
    .nav .nav-current:link,
    .nav .nav-current:visited {
      background-color: #FFFFEB;

      color: red;
    }
    
}	
    
@media only screen and (min-width: 38em) {
    	.nav {
		text-align: right;
      font-size: 1.0000rem;
      line-height: 1.5000;
	}	
    
     .logo {
        display: block;
}	
    
    .icon {
        display: none;
    }
    
    .foot-top {
        display: none;
    }
    
/** I can't get my footer navigation to appear at these screen sizes **/
    
    .foot-nav {
        display: inline-block;
        text-align: right;
   }
    
    .hide-small {
        display: block;
    }
    
}

@media only screen and (min-width: 60em) {
   	    
  	
    
}
    